/**
 * @provides yadda-css
 */

.yadda-editor {
  position: fixed;
  resize: both;
  overflow: auto;
  max-height: calc(100% - 90px);
  max-width: calc(100% - 60px);
  z-index: 10;
}

.yadda-root .hint-code-different {
  bottom: 8px;
  left: 8px;
  cursor: default;
  color: #92969D;
  position: fixed;
  user-select: none;
  z-index: 9;
}
